body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.nav-brand .logo {
    max-height: 80px;
}

.menu {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.cover {
    min-height: 600px;
    width: 100%;
    background-image: url('../img/cover.jpeg');
    background-size: cover;
    background-position: center center;
}

h1.title {
    position: absolute;
    z-index: 1000;
    color: #fff;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}